.tree-container {
    padding: 10px;
    margin-top: 55px;
    background: linear-gradient(to right, #5aa6fb, #1c5ed8);
    border-radius: 10px;
    transform: rotate(2deg);
}

.tree {
    border-radius: 10px;
    transform: rotate(-2deg);
    background-color: white;
}

.tree h2 {
    padding: 15px 0 15px 20px;
}

container {
    margin-top: 200px;
}

.tree li {
    background: #dbeaff;
    border-radius: 10px;
    margin-top: 10px;
}

.tree ul {
    background: white;
    padding-top: 1px;
    padding-bottom: 5px;
}

ul.custom-list {
    list-style-type: none;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 0px;
}

.tree-node {
    border-radius: 5px;
    color: #3a68b6;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
}

.tree-node:hover {
    cursor: pointer;
}

.context-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    z-index: 999;
}

.context-menu-item {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.context-menu-item :last-child {
    border-bottom: none;
}
.context-menu-item:hover {
    background-color: grey;
    cursor: pointer;
}

.context-menu-link {
    text-decoration: none;
    color: #333;
}

.button-container {
    padding: 0 0 15px 20px;
}

.button-container button {
    background-color: #1b2029;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px;
}

.btn:hover {
    color: lawngreen;
}

.button-container i {
    padding-right: 10px;
    padding-left: 5px;
}
.collapsed ul {
    display: none;
}

.drag-over {
    background-color: lightblue;
}

.tree-node.drag-over {
    border: 2px dashed blue;
}
